/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
    }
  /* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Roboto';
    font-size: 24px;
    height: 100%;
}
.wrapper {
    max-width: 1480px;
    background: rgba(0, 0, 0, 0.0001);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header-container {
    max-width: 1280px;
    margin: 63px 99px 0 98px;
}
.logo {
    font-size: 80px;
    line-height: 94px;
    margin: 0 0 38px 0;
}
.logo a {
    text-decoration: none;
    color: black;
}
.logo-span {
    color: #4BCAFF;
}
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    list-style: none;
}
.nav-menu-item {
    border-right: 1px solid #ffffff;
}
.nav-menu-item:first-child {
    border-left: 1px solid #ffffff;
}
.nav-menu-item:hover {
    background: #222F3A;
}
.nav-menu-link {
    display: block;
    line-height: 28px;
    color: #ffff;
    text-decoration: none;
    padding: 26px 33px 19px 32px;
}


.container {
    max-width: 1280px;
    display: flex;
    margin: 48px 99px 0 98px;
    flex: 1 1 auto; 
}
.aside-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.0001);
    width: 344px;
    height: 399px;
    list-style: none;
}
.aside-menu-link {
    display: block;
    font-size: 27px;
    line-height: 27px;
    height: 27px;
    text-decoration: none;
    color: #485863;
    padding: 26px 0 52px 44px;
}
.aside-menu-link:hover {
    background: #DBDBDB;
    color: #000000;
    padding-left: 66px;
}


.column {
    margin: 0 0 54px 52px;
}
.img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    margin-bottom: 37px;
}
.picture {
    display: block;
    padding: 75px;
}
.picture:hover {
    transition: 1s;
    transform: scale(1.1);
}
.main-text {
    font-size: 18px;
    color: #2C2C2C;
    line-height: 24px;
}
.main-text:first-child {
    margin-bottom: 34px;
}


.footer-container {
    padding: 0 100px;
}
.footer-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);

}
.footer-menu {
    display: flex;
    list-style: none;
    padding-right: 80px;
}
.footer-menu-link {
    display: block;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
    padding: 20px 0 21px 40px;
}
.footer-menu-link:hover {
    color: #3181A6;
}
.footer-menu-link-text:hover {
    border-bottom: 1px solid #3181A6;
    padding-bottom: 5px;
}
.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-right: 40px;
}

